

.card {
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: medium;
    text-align: justify;
    overflow: hidden;
  }
  .adresscard{
    margin-left: 65px;
    margin-right: 65px;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "PT Serif", serif;
    padding-left: 10px;
  }
  
  .card-text {
    margin: 1rem 0;
  }
  
  .card-text i {
    margin-right: 10px;
    color: #ffdd57; /* Change the icon color */
  }
  @media only screen and (min-width: 320px) and (max-width:728px) {
    .adresscard{
        margin-left: 20px;
        margin-right: 20px;
      }

  }
  @media only screen and (min-width: 728px) and (max-width:1024px) {
    .adresscard{
        margin-left: 25px;
        margin-right: 25px;
      }

  }
  